@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Protest+Guerrilla&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f1f1f1;
}
.home{
    padding: 0 20%;
}
.banner{
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.banner .img-box{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 3px solid #222;
    overflow: hidden;
}
.img-box img{
width: 100%;
}

.txt-container{
    padding: 2rem 0;
    margin-bottom: 2rem;
}
.txt-container h3{
    background-color: black;
    color: #fff;
    padding: .5rem;
    border-radius: 3px;
}
.txt-container p{
    padding: .5rem;
    border-radius: 3px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.gallery img{
    width: 23%;
    border-radius: 3px;
}
.txt-container .hm{
    width: 100%;
    border-radius: 3px;
}
.txt-container .sm{
    display: none;
}
.txt-container .tj{
    text-align: justify;
}
.txt-container video{
    display: block;
    width: 300px;
    margin: .5rem auto;
}
footer{
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    margin-top: 2rem;
}

/* responsiveness  */
@media screen and (max-width:480px) {
    .home{
        padding: 0 2%;
    }
    .banner{
        flex-direction: column;
    }

    .txt-container {
        margin-bottom: .5rem;
        padding: .5rem 0;
    }
    .txt-container .sm{
        display: block;
        width: 100%;
        border-radius: 3px;
    }
    .txt-container video{
        display: block;
        width: 100%;
        margin: .5rem auto;
    }
}